.App {
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 2px solid #0cbd96;

}

/* Header */
thead {
  background-color: #0cbd96;
  color: white;
}

/* Remove all borders */
th,
td {
  padding: 12px;
  text-align: center;
  border: none;
}

/* Optional: Only row bottom separator */
tbody tr {
  border-bottom: 1px solid #e0e0e0;
}

/* Remove last row bottom line */
tbody tr:last-child {
  border-bottom: none;
}

tbody tr:hover {
  background-color: #f1f8e9;
}

/* Pagination */
.pagination {
  margin-top: 20px;
  text-align: center;
}

button {
  background-color: #0cbd96;
  color: white;
  border: none;
  padding: 8px 16px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover:not(:disabled) {
  background-color:#0cbd96;
}

button:disabled {
  background-color: #a5d6a7;
  cursor: not-allowed;
}
